body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

#header {
    width: 100vw;
    padding: 10%;
    padding-bottom: 1%;
    padding-top: 1.6%;
    background-color: #B3DEE5;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.img-swallow {
    width: 80%;
    padding-right: 5%;

}

.headerText {
    width: 60%;
}

h1 {
    font-family: Hind;
    font-size: 44px;
    text-transform: uppercase;
    margin-bottom: 0em;
    padding-bottom: 0;
    margin-top: 0;

}

.h4 {
    font-family: 'Libre Caslon Text', serif;
    text-transform: thin;
    font-size: 11px;

}

.h3 {
    font-family: 'Libre Caslon Text', serif;
    font-style: italic;
    font-size: 18px;
    margin-top: 0;

}

.author {
    font-family: Hind;
    font-size: 14px;
    padding-top: 3em;
    padding-bottom: 0;
}

.text-highlight {
    background-color: #B3DEE5;
}


.text {
    padding: 3% 25% 5% 25%;
    font-family: 'Libre Caslon Text', serif;
    font-size: 16;
    line-height: 140%;
}

.textHighlight {
    font-size: 18px;
    line-height: 1.5;
    font-weight: 700;
}

.headline {
    font-family: Hind;
    font-size: 22px;
    padding-top: 1.5em;
    padding-bottom: 0;
    font-weight: 600;
}

.text-kursiv {
    font-style: italic;
    padding-top: 5em;
    font-size: 14px;
}

#bottom {
    width: 100vw;
    height: 100vh;
    background-color: #EED5BE;
}

.sticky {
    width: 50vw;
    height: 45vw;
    position: sticky;
    top: 1vw;
    margin: 0 20px;
}

.sticky2 {
    width: 50vw;
    height: 38vw;
    position: sticky;
    top: 1vw;
    margin: 0 20px;
}

.sticky3 {
    width: 50vw;
    height: 55vw;
    position: sticky;
    top: 1vw;
    margin: 0 20px;
}



.description {
    font-family: arial;
    font-size: 14px;
    margin: 0 10vw 0 60vw;
}

.description-text {
    font-family: Hind;
    font-size: 14;
}

.description-heading {
    font-family: Hind;
    font-size: 20px;
    padding-bottom: 0.5em;
    font-weight: 600;
}

#textStyle {
    margin-bottom: 10px;
    padding: 50px 20px;
    font-family: arial;
}

.sticky-sections {
    padding-bottom: 40em;
}

.lane {
    padding-left: 10%;
}

.textheading {
    font-family: Hind;
    font-size: 24px;
    font-weight: 600;
}

.footer {
    padding: 10%;
    padding-top: 3%;
    padding-bottom: 5%;
    background-color: #EED5BE;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
}

.details {
    font-family: Hind;
    font-size: 14px;
    padding-top: 1em;
    padding-bottom: 0;

}

.dataset-details {
    font-family: Hind;
    font-size: 10px;
    padding-top: 1em;
    padding-bottom: 0;

}

#wrapper {
    flex-grow: 1;
}

.datasets {
    font-size: 14px;
    font-family: Hind;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1em;
    padding-bottom: 0;
    flex-grow: 2;
}

#secondreferences {
    padding-top: 5em;
}

.twocolpage {
    background-color: #EED5BE;
    padding: 5%;
}

.references {
    font-size: 14px;
    font-family: Hind;
    padding: 3% 25% 5% 25%;
}

.overall-background {
    background-color: #90b8c9;
}

.AFD-background {
    background-color: #31525b;
    color: whitesmoke;
}

.FDP-background {
    background-color: #5b7c7d;
}

.CDU-background {
    background-color: #b3dee5;
}

.SPD-background {
    background-color: #fed3a5;
}

.Left-background {
    background-color: #fe9001;
}

.Greens-background {
    background-color: #fe5e31;
}

.year-background {
    background-color: #98ABAC;
}

.rep-background {
    background-color: #fed3a5;
}

.ref-style {
    color:black;
    text-decoration: none;
}

.references-back {
    font-size: 14px;
    font-family: Hind;
    padding: 0% 25% 0% 25%;
    margin-top: 0;
}